.sideMenu {
    /* position: fixed;
    left: 0;
    top: 0;
     */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    width: 20rem;
    height: 100vh;
    
    transition: left 0.3s ease-in-out;
    background-color: var(--darker);
}


.logo {
    margin: 2rem auto 0;

    width: 100%;
    max-width: 200px;
}

.menu-wrapper{
    width: 100%;
    padding: 2rem;
}

.menu-title {
    text-align: center;

    color: var(--white);

    margin: 2rem;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    font-size: 1.5rem;
}

.form-wrapper > input{
    border-radius: 10px;

    background: #0E86D4;
    color: var(#68BBE3);

    text-transform: uppercase;
    font-weight: 700;
    font-family: Poppins;
    font-size: 1rem;
}


.target {
    background-color: var(--medium);
    color: var(--white);
    width: 100%;
}

.navBar-menu, li {
    cursor: pointer;
    padding: 1.5rem 0;
    
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    
    color: var(--medium);
}


.credits{
    text-transform: uppercase;

    color: var(--medium);
}

.btnClose {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: var(--white);
    font-size: 1.5rem;
}
/* 
.menuOpen {
    left: 0;
}

.btnSandwich {
    display: absolute;
    cursor: pointer;
    display: none;
    padding: 0 1.5rem;
    background-color: transparent;
    border: none;
}

.btnSandwich__img {
    user-select: none;
    width: 1.5rem;
    color: var(--white);
}

@media (max-width: 960px) {
    .sideMenu {
        position: absolute;
        z-index: 100;
    }

    .btnClose {
        display: block;
    }
    .btnSandwich {
        display: inline-block;
    }
    .test {
        display: inline-block;
    }
}

@media (max-width: 768px) {
    .sideMenu {
        width: 250px;
    }

    .btnClose img{
        width: 1rem;
    }

    .logo {
        max-width: 150px;
    }

    .menu {
        font-size: 1rem;
    }

    footer {
        font-size: 0.4rem;
    }
} */
